__pycache__/
*.py[cod]
*$py.class
*.pyc

build/
dist/
*.egg-info/
eggs/
.eggs/


.pytest_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml
test-results/

venv/
.venv/
env/
ENV/

node_modules/
package-lock.json


.vscode/
*.swp
*.swo
*~
.#*
\#*\#

.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints
.jupyter/lab/workspaces/*.jupyterlab-workspace
!.jupyter/lab/workspaces/default.jupyterlab-workspace
