.DS_Store
*.pyc
.coverage
/dist
/src/pypgsvg.egg-info
/src/pypgsvg.egg-info
/test_miniature_functionality.svg
src/pypgsvg/.#svg.css
src/pypgsvg/.#svg_interactivity.js
*.js#
*.css#
/src/pypgsvg.egg-info
